.placed {
    background-color: green;
    text-align: center;
}

.hit {
    background-color: red;
    text-align: center;
}

.miss {
    background-color: #a9a9a9;
    text-align: center;
}

.centered {
    text-align: center;
}

.rounded {
    float: left;
    display: inline-block;
    margin-right: 3em;
    margin-bottom: 1em;
    border: 1px solid black;
    padding: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

table {
    border-width: 0;
    border-spacing: 0;
}