body {
    font-family: Courier,sans-serif;
}

#wstable {
    float: left;
}

.placed {
    background-color: green;
    text-align: center;
}

.hit {
    background-color: red;
    text-align: center;
}

.miss {
    background-color: #a9a9a9;
    text-align: center;
}

.centered {
    text-align: center;
}

.rounded {
    margin-bottom: 1em;
    border: 1px solid black;
    max-width: 50%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: xx-small;
}

td .rounded {
    max-width: 50%;
}

table {
    border-width: 1px;
    /*border-spacing: 0;*/
    empty-cells: show;
}